$main-bg: #fff;
$main-color: #ed71a3;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 200px;
$header-tablet-height: 74px;
$header-mobile-height: 74px;
$header-shrink-height: 74px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "pink": #fe7e73,
    "white": #fff,
    "yellow":yellow,
    "black": #000,
    "main": $main-color,
    "red": #ff0000,
    "crimson":#DC143C
);

$mobile-width: 450px;
$tablet-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
$search-bar-width:600px;
$search-bar-width-mobile:100px;
