@import "./variables";
@import "./mixins";
@import "./base";

@import "./components/header";
@import "./components/footer";
@import "./components/hero-slider";
@import "./components/button";
@import "./components/section";
@import "./components/policy-card";
@import "./components/product-card";
@import "./components/catalog";
@import "./components/custom-checkbox";
@import "./components/product";
@import "./components/product-view-modal";
@import "./components/cart";
@import "./components/autocomplete";
@import "./components/card_button";
@import "./components/slider";
@import "./components/banner";
@import "./components/nav_link";
@import "./components/bread_cumb";
@import "./components/login";
@import "./components/product-list";
@import "./components/best_seller"