.banner{
    display: flex;
    width: 100%;
    position: relative;
    @include mobile{
        display: none;
    }
    // @include flex(center,center);
    margin-left: 100px;
    // margin-right: 300px;
    height: 100%;
    // background-color: red;
    &__ads{
        &__image{
            // padding: 10px;
            >img{
                width: 100%;
                height: 200px;
            }
        }
        width: 40%;
        margin-right: 200px;
        height: 400px;
        // background-color: blue;
    }
    // position: relative;
}