.product-card {
    text-align: center;
    margin-bottom: 30px;
    &__overlay {
        @include mobile{
            display: none;
        }
        position: absolute;
        top: 0;
        // left: 50%;
        display: block;
        background-color: rgba(29, 95, 31,1);
        width: 100%;
        padding-left: 5px;
        // transform:  scale(0);
        &__btns{
            
            background-color: rgba(76, 175, 80, 0);
            // margin-left: 100px;
            position: absolute;
            // display: block;
            top:0;
            width: 100%;
            // left: 50%;
            // left: 0;
            transform: translateY(-100%) scale(1);
            button{
                margin-right: 10px;
                // width: 30%;
                // font-weight: 100;
                font-size: 9px !important;
            }
            // margin-top: 200px;
        }
       
    }
    &__image {
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        &__fit{
            width: 90%;
        }
        img {
            border: 3px solid $main-color;
            padding: 0.3em;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            // &:nth-child(1) {
            //     transform: translateX(-50%) scale(1);
            //     transition: transform 0.5s linear;
            // }

        }
        &:hover div{
           
            transform:  translateY(6em) scale(1);
            transition: transform 0.2s linear;
            button{
                margin-left: 0%;
            }
        }

        &:hover img {
            &:nth-child(1) {
                opacity: 0.5;
                // transform: translateX(-50%) scale(1);
                // transition: transform 0.5s ease;
            }
        }
    }

    &__name {

        color: #333;
        font-size: 1.25rem;
        font-weight: 900;
        overflow: hidden;
        height: 40px;
        display: block;
        text-overflow: ellipsis;
        // text-align: right;
        // padding: 1em;
    }

    &__price {
        color: $main-color;
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 10px;

        &__old {
            color: $txt-second-color;
            font-size: 1rem;
            margin-left: 10px;
            font-weight: 300;
        }
    }

    &__btn {
        @include tablet {
            display: none;
        }
    }
}
