.section {
    margin-bottom: 40px;
    // display: block;
    // z-index: 88;
    // position: relative;
    & > * ~ * {
        margin-top: 70px;
    }

    &__title {
        font-size: 2rem;
        // background-color: $main-color;
        // color:$main-color;
        text-transform: capitalize;
        text-align: center;
       
    }
    &__shadow{
            box-shadow: $box-shadow;
    }
}
