.section {
    margin-bottom: 80px;
    // display: block;
    // z-index: 88;
    // position: relative;
    & > * ~ * {
        margin-top: 70px;
    }

    &__title {
        font-size: 2rem;
        text-transform: capitalize;
        text-align: center;
    }
}
